#nerdlicious
  .container
    #banner
      = icon('hashtag')
      Nerdlicious
    #trivia
      .trivia-question
        %h1
          = icon('quote-left')
          = @question.question
          = icon('quote-right')
      .trivia-answer-section
        #trivia-answer-text.collapse
          .well
            %h2
              =@question.answer
        .trivia-answer-btn
          %a.btn.btn-primary{'role' => 'button', 'data-toggle' => 'collapse', 'aria-expanded' => 'false', 'aria-controls' => 'trivia-answer-text', 'href' => '#trivia-answer-text'}
            See answer

