- @title='#Nerdlicious'

#nerdlicious
  .container
    #banner
      = icon('hashtag')
      Nerdlicious
    #trivia
      .trivia-question
        .left-quote
          %h1
            = icon('quote-left')
        .right-quote
          %h1
            = icon('quote-right')
        .question-text
          %h1
            = @question.question
      .trivia-answer-section
        #trivia-answer-text.collapse
          .well
            %h2
              =@question.answer
        .trivia-answer-btn
          %a.btn.btn-primary{'role' => 'button', 'data-toggle' => 'collapse', 'aria-expanded' => 'false', 'aria-controls' => 'trivia-answer-text', 'href' => '#trivia-answer-text'}
            See answer

